.topics > div {
    padding: 15px 0px;
}

.topics-page_table-icon-wrapper {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.delete-icon-wrapper {
    width: 38px;
    height: 38px;
    border: 1px solid #d8d8d866;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-icon-wrapper:hover {
    background-color: #d8d8d866;
}