
header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 30px;
    border-bottom: 1px solid #abb0b5;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
}

header li, header a, header button {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
}

header li, header a {
    text-decoration: none;
}

nav{
    padding-left: 40px;
}

.nav__links{
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 25px;
    position: relative;
}

.nav__links li::after{
    content: ' ';
    height: 1px;
    width: 0;
    background: #1976D3;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.nav__links li:hover::after{
    width: 100%;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #1976D3;
}

.header__logout__button{
    padding: 9px 25px;
    background-color:white;
    border: 2px solid #333333;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
    margin: 0px 10px;
}

.header__logout__button:hover{
    background-color: #e9f4fb;
}

.header__main__button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
    margin: 0px 10px;
}
.header__main__button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.logo{
    width: 160px;
    height: auto;
    cursor: pointer;
}